@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

@theme {  
    --font-inter: "Inter", sans-serif;
    --font-rethink: "Rethink Sans", serif;
    --text-tiny: 0.625rem;
    --color-green-main: rgb(0, 96, 52);
    --color-green-dark: #00341c;
    --color-pale-yellow: #f6f6ea80;
    --color-pale-yellow-op: #f6f6ea;
    --color-orange-main: rgb(255, 67, 16);

    --menu-bar-width: 40px;
    --menu-bar-height: 3px;
    --menu-bar-gap: 5px;
}
