@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {  
    --font-inter: "Inter", sans-serif;
    --text-tiny: 0.625rem;
    --color-green-main: rgb(0, 96, 52);
}
